* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #dadada;
}

.head_t_l {
  flex-basis: 30%;
  width: 1rem;
  margin-left: 4rem;
}

.head_t_l > img {
  border-radius: 50%;
  width: 5rem;
  object-fit: cover;
}

.head_t_r {
  width: 100%;
  flex-basis: 70%;
}

.head_t_r > ul {
  display: flex;
  justify-content: right;
  margin-right: 4rem;
  gap: 20px;
  position: relative;
}

.head_t_r > ul > li {
  color: #f3453f;
  font-weight: 700;
  padding: 10px;
  transition: 0.2s ease;
}

.head_t_r > ul > li:last-child {
  padding: 10px 10px;
  border-radius: 10px;
  background-color: gainsboro;
}

.head_t_r > ul > li:hover {
  padding: 10px 10px;
  border-radius: 10px;
  background-color: gainsboro;
}
